body {
    font-family: 'Libre Baskerville', serif;
    margin: auto;
    background-color: #111;
    color: floralwhite;
}

.heading {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 20vh;
    min-height: 10em;
    position: fixed;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(147,112,219,1) 0%, rgba(147,112,219,0) 100%);
}
p {
    line-height: 24px;
}
.language-option {
    position: absolute;
    right: 5em;
    bottom: 5em;
}

    .language-option button {
        background: transparent;
        border: none;
        padding: 0.5em 0.2em;
    }

        .language-option button:hover {
            font-weight: 600;
            /* background: rgba(36,242,249,0.2); */
        }

        .language-option button:focus {
            outline: none;
            font-weight: 600;
            text-decoration: underline;
        }

.lang_en {
    display: none;
}

.project-title {
    padding: 0 39em;
    margin-bottom: -6em;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* padding: 10em 10%; */
    margin-top: 5em;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 4px;
    width: 75vw;
    min-height: 20em;
    padding: 1em;
    margin: 1em 0;
}

    .project a {
        width: 70%;
    }

.project-summary {
    margin-left: 2em;
    text-align: start;
    /*width: 30%;*/
}

.project:hover {
   /* box-shadow: -10px 6px 18px lightgrey;*/
}

.project img {
    max-width: 50em;
    width: 100%;
}

.project h3 {
    margin-top: 1em;
}

.text {
    padding: 12em 26em;
    padding-bottom: 4em;
}

    .text p {
        width: 49em;
        font-size: 12px;
    }

footer {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
